<div id="newsletterBox" class="yellow-box desktop" data-section="closed" style="">
    <a class="yellow-box-close close-button desktop" onmousedown="return false"></a>
    <div class="container">
        <div class="left">
            <div class="title">
                <span>Subscribe Newsletter</span>
            </div>
            <div class="intro">
                <span>Sign up to know more about discount, new items &amp; secret sales!</span>
            </div>
        </div>
        <div class="right">
            <?php echo $this->getlayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Newsletter::subscribe.phtml')->toHtml();?>
        </div>
    </div>
</div>