//
//  Nichii theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


@dropdown-list__border: none;
@dropdown-list__shadow: 0px -1px 12px rgba(0,0,0,.2);
@navigation-desktop__font-weight: @font-weight__regular;
@submenu-desktop__font-weight: @font-weight__regular;
@navigation-desktop-level0-item__padding: 0 15px;
@link__color: #999;
@link__hover__color: #fff;
@link__active__color: @link__hover__color;
@footer__background-color: #000;
@layout__max-width: 1170px;
@navigation__background: #fff;
@layout-indent__width: 15px;