<div class="slideshow-wrapper">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('slide-home')->toHtml();?>
    </div>
</div>