// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @color-yellow-light2;
@message-global-note__border-color: @color-yellow-light3;
@message-global-note__color: @text__color;

@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-red9;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-white;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

//  Header
@header__background-color: false;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;

@addto-color: @text__color__muted;
@addto-hover-color: @primary__color;

@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@button__shadow: inset 0 2px 1px rgba(0,0,0,.12);

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: false;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body {
        .lib-css(background-color, @page__background-color);
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    .action.primary, .action.primary:hover {
        background-color: #f68b5c;
        color: #fff;
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        min-height: 100vh; // Stretch content area for sticky footer
    }

    .page-main {
        .lib-vendor-prefix-flex-grow(1);
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: @indent__base;
    }

    .header {
        &.content {
            &:extend(.abs-add-clearfix all);
            padding-top: @indent__s;
            position: relative;
        }
    }

    .logo {
        img {
            width: auto;
            vertical-align: top;
        }

        .page-print & {
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-main {
        padding-bottom: 20px;

        .top-promotion.container {
            margin: 0 auto 10px;

            .inner-container {
                overflow: hidden;

                .owl-item {
                    width: 50%;
                    float: left;
                    padding-left: 2.5px;
                    padding-right: 2.5px;
                    box-sizing: border-box;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    .item {
                        background: #000;
                        font-size: 16px;
                        color: #fff;
                        height: 60px;
                        width: 100vw;
                        text-align: center;
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0 10px;
                    }
                }
            }
        }

        .slideshow-wrapper {
            margin-bottom: 60px;
            padding-top: 0;

            .owl-carousel {
                .owl-dots {
                    padding-bottom: 18px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;

                    .owl-dot {
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        border: 1px solid #333;
                        background: #fff;
                        margin-right: 5px;
                        display: inline-block;
                        box-sizing: unset;
                        margin: 7px;

                        &.active {
                            background: #333;
                        }
                    }
                }
            }
        }

        .columns {
            .column.main {
                .grwf2-wrapper {
                    text-align: center;
                }

                .widget.block-products-list {
                    background-image: url('@{baseDir}images/bg-slider.jpg');
                    background-size: contain;
                    background-position: center;
                    margin-bottom: 45px;
                    padding-top: 35px;

                    .block-title {
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0;
                        padding-top: 15px;
                        padding-bottom: 10px;

                        strong {
                            font-size: 21px;
                            line-height: 1;
                            font-weight: 400;
                        }
                    }

                    .block-content {
                        .owl-carousel.product-items {
                            margin: 0 auto;
                            padding-top: 20px;
                            padding-left: 15px;
                            padding-right: 0;

                            .owl-item {
                                .item.product-item {
                                    width: 90%;

                                    .product-item-details {
                                        .product-item-name {
                                            margin: 10px 0 0;

                                            a {
                                                color: #666;
                                                text-decoration: none;
                                                &:hover {
                                                    color: #333;
                                                }
                                            }
                                        }

                                        .price-box.price-final_price {
                                            margin-top: 0px;
                                        }
                                    }
                                }
                            }

                            .owl-nav {
                                button {
                                    &.owl-prev {
                                        left: 16px;
                                    }

                                    &.owl-next {
                                        right: 18px;
                                    }
                                }
                            }
                        }
                    }
                }

                .block-instagram {
                    padding-top: 0;

                    .head {
                        color: #666;
                        font-size: 16px;
                        margin-bottom: 25px;
                        text-align: center;

                        p {
                            color: #f68b5c;
                            font-size: 21px;
                            margin-bottom: 5px;
                        }
                    }
                    .owl-carousel.instagram {
                        .owl-item {
                            .item {
                                margin: 0 1px;

                                a {
                                    img {

                                    }
                                }
                            }
                        }
                    }

                    .owl-nav {
                        button {
                            &.owl-prev {
                            }

                            &.owl-next {
                                right: 0;
                            }
                        }
                    }
                }

                .owl-nav {
                    button {
                        position: absolute;
                        top: 45%;
                        background: rgba(0,0,0,.5);
                        width: 30px;
                        height: 30px;
                        border-radius: 0;
                        color: #fff;
                        font-size: 18px;

                        &.disabled {
                            display: none;
                        }

                        &:hover {
                            background-color: @theme-color;
                        }

                        span {
                            vertical-align: super;
                        }
                    }
                }
            }
        }
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        .lib-css(background-color, @footer__background-color);
        margin-top: auto;

        #newsletterBox {
            height: 130px;
            position: fixed;
            bottom: 0;
            z-index: 99;
            background: rgba(247,156,116,.95);
            width: 100%;
            padding-top: 40px;
            box-sizing: border-box;

            .yellow-box-close {
                background-image: url("@{baseDir}images/close.png");
                display: block;
                position: absolute;
                right: 17px;
                top: 20px;
                width: 15px;
                height: 15px;
                cursor: pointer;
            }

            .container {
                padding-top: 0;

                .left {
                    float: left;
                    width: 58%;

                    .title {
                        font-size: 24px;
                        font-weight: 700;
                        margin-bottom: 5px;
                        line-height: 1;
                        text-transform: uppercase;
                    }

                    .intro {
                        font-size: 16px;
                        color: #fff;
                    }
                }

                .right {
                    float: right;
                    width: 42%;

                    .block.newsletter {
                        margin-bottom: 0;

                        .content {
                            .control {
                                &:before {
                                    content: none;
                                }

                                input {
                                    height: 35px;
                                    line-height: 35px;
                                    border: 1px solid #999;
                                    border-radius: 0;
                                    padding: 0 15px;
                                    
                                    &#newsletter::placeholder {
                                        color: #666;
                                    }
                                }
                            }

                            .actions {
                                width: 1%;

                                button.subscribe.primary {
                                    margin: 0;
                                    line-height: 35px;
                                    padding: 0 30px;
                                    white-space: nowrap;
                                    border-radius: 0;
                                    text-transform: uppercase;
                                    font-size: 12px;
                                    letter-spacing: 2px;
                                    font-weight: 700;
                                    border: none;
                                    background-color: #333;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        &.content {
            padding-bottom: 25px;
            padding-top: 25px;

            ul {
                &:extend(.abs-reset-list all);
            }

            .links {
                > li {
                    margin: 0 0 8px;
                }
            }

            .switcher-store {
                margin: 0 0 30px;
            }

            .footer-primary {
                border-bottom: 1px solid #494949;
                padding-bottom: 30px;

                .primary-column-item {
                    float: left;
                    width: 17.5%;
                    padding: 0 6px;
                    box-sizing: border-box;

                    &:first-child {
                        padding-left: 0;
                    }

                    &.column-signup {
                        width: 30%;

                        .block-content {
                            p {
                                font-size: 13px;
                            }
                        }
                    }
                    
                    h3 {
                        color: #fff;
                        font-weight: 400;
                        padding: 0 0 15px;
                        font-size: 16px;
                        margin: 0;
                    }

                    .block-content {
                        .item {
                            padding: 4px 0;
                            p {
                                color: #999;
                                margin: 0;
                            }
                            .block.newsletter {
                                .content {
                                    margin-top: 17px;

                                    .control {
                                        &:before {
                                            content: none;
                                        }

                                        input {
                                            height: 30px;
                                            line-height: 30px;
                                            border: 1px solid #999;
                                            border-radius: 0;
                                            padding: 0 15px;
                                        }
                                    }

                                    .actions {
                                        button.subscribe.primary {
                                            margin: 0;
                                            line-height: 30px;
                                            padding: 0 10px;
                                            white-space: nowrap;
                                            border-radius: 0;
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            letter-spacing: 2px;
                                            font-weight: 700;
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                &.clearfix {
                    &:after {
                        content: '';
                        clear: both;
                        display: table;
                    }
                }
            }

            .footer-bottom {
                overflow: hidden;
                padding: 15px 0 21px;

                .item {
                    &.item-left {
                        float: left;
                        color: #999;
                    }

                    &.item-right {
                        float: right;
                    }
                    .social-links {
                        > a {
                            margin-left: 7px;
                        }
                    }
                }
            }

            #scroll-top {
                display: block;
                background-color: #f68b5c;
                color: #fff;
                position: fixed;
                width: 50px;
                height: 50px;
                line-height: 54px;
                text-align: center;
                font-size: 32px;
                bottom: 56px;
                right: 30px;
                z-index: 98;
                border-radius: 50%;
                font-weight: 700;

                span {
                    display: block;
                    transform: scale(1,0.6);
                }
            }
        }

        .bugs {
            display: block;
            margin: 20px 0 0;
        }
    }

    .page-header,
    .page-footer {
        .switcher {
            margin-right: 10px;

            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 22px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        display: block;
                        padding: 8px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            li {
                font-size: @font-size__s;
                margin: 0;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            strong {
                font-weight: @font-weight__regular;
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            &:extend(.abs-margin-for-blocks-and-widgets all);
        }
    }

    .widget {
        clear: both;

        .block-title {
            &:extend(.abs-block-title all);
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
    }

    .no-display {
        &:extend(.abs-no-display all);
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker {
        td {
            padding: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-wrapper {
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }

        .minicart-wrapper {
            a.action.showcart {
                &:before {
                    content: url("@{baseDir}images/icon-cart.png");
                    position: relative;
                    bottom: 7px;
                }
            }
        }
    }

    .navigation ul {
        padding: 0;
    }

    .header {
        &.panel {
            > .header.links {
                float: right;
                font-size: 0;
                .lib-list-inline();
                margin-left: auto;

                > li {
                    font-size: @font-size__base;
                    margin: 0 0 0 15px;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
            }
        }

        &.content {
            &:extend(.abs-add-clearfix-desktop all);
            display: table;
            width: 100%;
            padding: 20px 15px 10px;

            > div {
                display: table-cell;
                width: 33.34%;
                vertical-align: middle;
            }

            .left-column {
                .block.block-search {
                    .block.block-content {
                        .form.minisearch {
                            .actions{
                                button.action.search {
                                    &:before {
                                        content: url("@{baseDir}images/icon-search.png");
                                    }
                                }
                            }

                        }
                    }
                }
            }

            .center-column {
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }

            .right-column {
                ul.header.links {
                    float: right;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    margin-top: 15px;
                    margin-right: 1.5px;
                    > li {
                        float: left;
                        margin: 0;
                        padding: 0;
                        > * {
                            display: block;
                            border-left: 1px solid #ddd;
                            line-height: 15px;
                            color: #666;
                            padding: 0 6.5px;
                            font-size: 13px;
                            &:hover {
                                color: #f68b5c;
                            }
                        }
                        &:first-child {
                            * {
                                border-left: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
        }

        .header.panel {
            &:extend(.abs-add-clearfix-desktop all);
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }

        .switcher {
            display: inline-block;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .logo {
        display: block;
        margin: 3px 0;

        img {
            max-height: inherit;
        }
    }

    .footer {
        &.content {
            .links {
                display: inline-block;
                margin-bottom: 20px;
                padding: 0 50px 0 0;
                vertical-align: top;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }
        }

        .copyright {
            &:extend(.abs-add-clearfix all);
        }
    }
}
